@model IEnumerable<ExoShop.Models.ProductViewModel>
@using Models.DataModels
@{
    ViewData["Title"] = "Index";
}

<h1>Cart</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product product in ViewBag.Cart)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.Price)
            </td>
            <td>
                <form asp-action="RemoveFromCart">
                    <button type="submit" method="post" class="mainBtn" asp-controller="Cart"
                            asp-action="RemoveFromCart" asp-route-id="@product.ID">
                        Remove <i class="fa fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
<form asp-action="Checkout">
    <button type="submit" class="mainBtn" asp-controller="Shop"
            asp-action="Checkout">
        Checkout
    </button>
</form>
