@using Models.DataModels
@{
    ViewData["Title"] = "Shop";
}
@foreach (Product product in ViewBag.Products)
{
    <div class="container">
        <div class="product-card">
            <img src="@product.ImageURL" class="product-image" alt="@product.Name">
            <h1>@product.Name</h1>
            <p class="price">€@product.Price</p>
            <p>@product.Description</p>
            <p><button onclick="location.href='@Url.Action("AddToCart", "Product")'">Add to cart<i class="fas fa-cart-plus"></i></button></p>
        </div>
    </div>
}

